.buscador{
    display: inline-flex;
    padding-top: 8px;
    
    input{          
          width: 350px;
         }
}

.carrito{
    float: right;
    padding-left: 20px;
    padding-right: 30px;
    margin-right: 50px;
    font-size: 35px;
    background-color: #88CC88;
    color: white;
}
#precios{
        .precio{
            font-size: 1.8em;
            color: red;
            text-decoration: line-through;
        }
        .precioRebajado{
            position: absolute;
            top: 55%;
            right: 31%;
            font-size: 1.8em;
            color: green;        
        }
        .noprecio{
            
            font-size: 1.8em;
            color: grey;
        }
}
.imgProducto {
    max-width: 200px;
    position: relative;
    z-index: 1;
}
.imgDescuento {
    position: absolute;
    z-index: 2;
    top: -4%;
    right: -12%;
    max-width: 100px;
}
#botones{
    .input{
        display: block;
        height: 30px;
        width: 50%;
        float: left;
        text-align: center;
        }
    .btnMin {
        display: block;
        width: 25%;
        height: 29px;
        float: left;
        }
   .btnPlus{
        display: block;
        width: 25%;
        height: 29px;
        float: left;
        }
}

