<!-- Barra superior de la pagina -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Supermercado</a>
    </div>
    <div class="buscador">
      <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Escriba el nombre del producto que desea buscar...">
      <button>
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
    <li class="toogle">
      <div class="carro">
        <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="badge">{{totalProductos}}</span>
          <i class="fa fa-shopping-basket" aria-hidden="true">{{sumaPrecio}}€</i>
        </div>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <!-- app-carro -->

          <form>
            <li *ngFor="let producto of carro">
              <div class="producto-carro row">
                <div class="img col-xs-2">
                  <img src={{producto.foto}} alt={{producto.nombre}}>
                </div>
                <div class="datos col-xs-5">
                  <p class="precio">{{producto.precio | number:'.2-2'}}€</p>
                  <p>{{producto.nombre}}</p>
                </div>
                <div class="botones col-xs-3">
                  <button type="button" class="btn btn-default izq" (click)="restarCarro(producto); calcularTotales()"> - </button>
                  <input class="btn-default" [value]="producto.cantidad" disabled>
                  <button type="button" class="btn btn-default dcha" (click)="sumar(producto); calcularTotales()"> + </button>
                </div>
                <div class="eliminar col-xs-2" (click)="eliminarProducto(producto)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </div>
              </div>
            </li>
            <!-- *ngFor -->
            <li>
              <div class="totales">
                <div class="cuenta row">
                  
                    <div class="col-xs-3 col-xs-offset-7">
                      <p>Subtotal:</p>
                      <p>Descuento:</p>
                      <p class="total">Total:</p>
                    </div>
                    <div class="col-xs-2">
                      <p class="right">{{sumaPrecio | number:'.2-2'}}€</p>
                      <p class="right">0€</p>
                      <p class="right">{{sumaPrecio | number:'.2-2'}}€</p>
                    </div>
                  


                </div>
                <div class="row tramitar">
                  <div class="col-xs-5">
                    <button class="btn btn-block vaciar" (click)="vaciarCarro()">
                      <span>
                        <i class="fa fa-trash-o" aria-hidden="true"></i> VACIAR CESTA</span>
                    </button>
                  </div>
                  <div class="col-xs-7">
                    <button class="btn btn-block btn-success">
                      <span>VER / TRAMITAR COMPRA</span>
                    </button>
                  </div>
                </div>

              </div>
            </li>
          </form>
        </ul>
      </div>
    </li>
  </div>
</nav>
<!-- cierre barra -->

<div class="row">

  <div class="col-sm-10">
    <div class=container>
      <div *ngFor="let producto of stock | buscadorProductos : searchText" class="col-sm-3">

        <!-- pintado de los productos en thumnails -->
        <div class="thumbnail">
          <img class="imgProducto" src={{producto.foto}} alt={{producto.nombre}}>
          <p *ngIf="producto.oferta" class="precio">
            <img class="imgDescuento" src="http://www.yotengo.es/icons/foto_oferta.png" alt="oferta.img"> </p>
          <div class="caption">

            <div id="precios">
              <p *ngIf="producto.oferta" class="precio">{{producto.precio}}€</p>
              <p *ngIf="producto.oferta" class="precioRebajado">{{producto.precioConOferta}}€</p>
              <p *ngIf="!producto.oferta" class="noprecio">{{producto.precio}}€ </p>
              <p class="precioUnidad">{{producto.precioUnidad}}</p>
            </div>

            <div class="nombre">
              <span>{{producto.nombre}}</span>
            </div>
            <div id="botones">
              <button type="button" id="btnMinPlus" class="btnMin btn-default glyphicon glyphicon-minus" (click)="restar(producto)"></button>
              <input type="number" class="input" disabled [value]="producto.cantidad">
              <button type="button" id="btnMinPlus" class="btnPlus btn-default glyphicon glyphicon-plus" (click)="sumar(producto)"></button>
            </div>
          </div>

          <button type="button" class="btn btn-success btn-block" (click)="anadirProducto(producto)">Añadir al carro</button>
          <!-- <button type="button" class="btn btn-success btn-block" >Añadir al carro</button> -->
          <!-- fin de pintado del producto -->
        </div>
        <!-- cierre thumbnail -->
      </div>
    </div>
    <!-- cierre container -->
  </div>
  <!-- cierre col   -->
</div>
<!-- cierre row -->