.buscador{
    display: inline-flex;
    padding-top: 8px;
    
    input{          
          width: 350px;
         }
}

.carro{
    float: right;
    padding-left: 20px;
    padding-right: 30px;
    margin-right: 50px;
    font-size: 35px;
    background-color: #88CC88;
    color: white;

    ul{
        list-style: none;                    
        padding: 0;
        margin: 0;
        right: 0;
        border: none;
        
        li{
            margin: 0;
            padding: 0;
            max-width: 98%;
            

            .producto-carro{
                height: 100px;
                width: 600px;
                padding: 0;
                margin: 0;
                border-bottom: 1px solid #7F7F7F;

                .img{
                    height: 100%;
                    img{
                        max-height: 100%;
                        border-radius: 25px;
                        padding: 3px;
                        
                    }
                }

                .datos{
                    padding-top: 10px;
                    padding-left: 20px;
                    color: #f5f5f5;
                    font-size: 25px;

                    p{
                        margin: 0;
                        font-size: 20px;
                    }

                    .precio{
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                }
                
                .botones{

                    display: flex;
                    justify-content: center;
                    padding-top: 25px;
                    text-align: center;
                    font-size: 25px;
                    height: 65%;
        
                    button{
                        font-size: 18px;
                        height: auto;
                        margin: 0;
                    }
                    
                    input{
                        max-width: 40%;
                        text-align: center;
                    }
                }

                .eliminar{
                    height: 100px;
                    background-color: rgb(182, 182, 182);
                    color: grey;
                    font-size: 55px;
                    padding-top: 11px;
                    text-align: center;
                    border: 5px solid #7F7F7F;
                    
                    cursor: pointer;
                }

                .eliminar:hover{
                    height: 100px;
                    background-color: #c75555;
                    color: #401e1e;
                    font-size: 45px;
                    padding-top: 16px;
                    text-align: center;                    
                    border: 5px solid #401e1e;
                }
            }

            .cuenta{
                width: 430px;
                color: black;
                font: italic bold 12px/30px Georgia, sans-serif;
                p{
                    margin: 5px;
                    font-size: 2em;                              
                }

                .col-xs-2{
                    p{
                        text-align: right;
                        padding-left: 130px;
                    }
                }
            }

            .tramitar{
                margin: 0;
                width: 600px;

                div{
                    padding: 0;
                }

                .vaciar{
                    color: green;
                }
            }
            
        }
    }

}
#precios{
        .precio{
            font-size: 1.8em;
            color: red;
            text-decoration: line-through;
        }
        .precioRebajado{
            position: absolute;
            top: 55%;
            right: 31%;
            font-size: 1.8em;
            color: green;        
        }
        .noprecio{
            
            font-size: 1.8em;
            color: grey;
        }
}
.imgProducto {
    max-width: 200px;
    position: relative;
    z-index: 1;
}
.imgDescuento {
    position: absolute;
    z-index: 2;
    top: -4%;
    right: -12%;
    max-width: 100px;
}
#botones{
    .input{
        display: block;
        height: 30px;
        width: 50%;
        float: left;
        text-align: center;
        }
    .btnMin {
        display: block;
        width: 25%;
        height: 29px;
        float: left;
        }
   .btnPlus{
        display: block;
        width: 25%;
        height: 29px;
        float: left;
        }
    }
.dropdown-menu{
    background-color: blueviolet;
}

